# Large shapefiles
03_tesda_cebu/CEBU/PH_Adm3_MuniCities.shp/

# Large LFS PUF datasets
02_ecosystem_analysis/Data/PHL-PSA-LFS-2022-01-PUF/
02_ecosystem_analysis/Data/PHL-PSA-LFS-2023-07-PUF/
02_ecosystem_analysis/Data/PHL-PSA-LFS-2024-01-PUF/
